.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 1.6rem;
    // font-weight: 600;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    min-width: 10rem;
    padding: 0.7rem 1rem;
    line-height: 2.2rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    cursor: pointer;
    user-select: none;

    + .wrapper {
        margin-left: 1.6rem;
    }

    &.disabled {
        pointer-events: none;
        opacity: 0.8;
    }
}

.primary {
    color: var(--text-white);
    background-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}
.outline {
    border-color: var(--primary);
    color: var(--primary);
    background-color: rgba(255, 255, 255, 1);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.small {
    min-width: 8.8rem;
    padding: 0.2rem 1rem;
    font-weight: 600;
}
.large {
    min-width: 18.6rem;
    width: 100%;
    padding: 1.2rem 1rem;
}
.outlineSecondary {
    background-color: rgba(255, 255, 255, 1);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.left-icon {
    display: inline-block;
    margin-right: 0.8rem;
    width: 24px;
    text-align: center;
}
