@import 'normalize.css';
// fonts

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/zYXgKVElMYYaJe8bpLHnCwDKhd7eFb5N.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI5sdO_q.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* vietnamese */
@font-face {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI5sdO_q.woff2') format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

:root {
    // default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;

    // color text
    --primary: rgba(254, 44, 85, 1);
    --text-color: rgba(22, 24, 35, 1);
    --text-black: #000;
    --text-white: #fff;
    --p-24: 2.4rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}
button,
input,
[tabindex] {
    border: none;
    outline: none;
    font-family: 'IBM Plex Sans', Arial, sans-serif;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}
body .tippy-box {
    text-decoration: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    background-color: rgba(84, 84, 84, 0.92);
    color: rgb(255, 255, 255);
    padding: 3px;
}
body .tippy-arrow {
    color: rgba(84, 84, 84, 0.92);
}
body .tippy-box[data-placement^='bottom'] > .tippy-arrow:before {
    top: -8px;
}
