.wrapper {
    --search-round: 92px;
    --search-height: 46px;
    --spacer: 9px;
    --search-btn: 52px;

    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.inner {
    height: inherit;
    width: var(--default-layout-width);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.search,
.search-result {
    width: 361px;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    height: var(--search-height);
    padding-left: 1.6rem;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-round);
    -webkit-border-radius: var(--search-round);
    -moz-border-radius: var(--search-round);
    -ms-border-radius: var(--search-round);
    -o-border-radius: var(--search-round);
    border: 1.5px solid transparent;

    input {
        color: var(--text-black);
        background-color: transparent;
        height: 100%;
        flex: 1;
        caret-color: var(--primary);
    }
    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}
.clear,
.spinner {
    position: absolute;
    color: rgba(22, 24, 35, 0.34);
    font-size: 1.6rem;
    margin: 0 12px;
    right: var(--search-btn);
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.spliter {
    width: 1px;
    height: calc(var(--search-height) - (var(--spacer) * 2));
    background-color: rgba(22, 24, 35, 0.12);
}
.search-btn {
    width: var(--search-btn);
    height: 100%;
    border-top-right-radius: var(--search-round);
    border-bottom-right-radius: var(--search-round);
    padding: 11px 16px 11px 12px;
    font-size: 18px;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.search-title {
    height: 30px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}
.serach-see {
    padding: 15px 16px;
    cursor: pointer;
    display: flex;
    -webkit-box-align: center;
    align-items: center;

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: rgb(22, 24, 35);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}
.more-btn {
    font-size: 2rem;
    margin-left: 2rem;
    cursor: pointer;
    width: 2rem;
    background-color: transparent;
    padding: 0.4rem;
}
